body {
    font-family: "Montserrat", sans-serif; /* フォント名の指定を修正 */
    padding: 20px;
  }
  .div_project-info_box {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* --- 左カラムと右カラムの幅の比率を調整 --- */
  .project-page_left {
    flex: 1;
  }
  .project-page_right {
    /* 右側を少し広めに設定 */
    flex: 3;
  }
  