
  body {
    font-family: "Montserrat", sans-serif;
  }

 


  .whoami-title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }

  .projects-title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }
  

  .projects-title-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .projects-title-link:hover {
    text-decoration: underline;
  }

