body {
    font-family: sans-serif;
    background: #ffffff;
    margin: 20px;
  }
  
  .whoami-title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }


  .projects-title-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .projects-title-link:hover {
    text-decoration: underline;
  }

