body {
  font-family: "Montserrat";
  padding: 20px;
}
.div-box-1 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.whoami-master {
  flex: 1;
}
.Projects-master {
  flex: 3;
}

/*---------------------------------------------*/
.whoami-master {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.whoami-title,
.projects-title {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    /* ★★★★★ この一行で高さを揃えます ★★★★★ */
    margin-top: 0;
}

.whoami-master p {
  font-size: 15px;
  margin: 0;
  padding-bottom: 10px;
}
/*---------------------------------------------*/



/*---------------------------------------------*/
.Projects-master {
  margin: 0;
}

.projects-title {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: white;
  padding-bottom: 10px;
}

.project-box {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 15px 2px;
  max-width: none; 
  margin: 0;
}
.project-box p {
  font-size: 15px;
  margin: 0;
}

/* projectsのリンクに transition を設定 */
.projects-title-link {
  color: inherit;
  text-decoration: none;
  /* 色が0.2秒かけて滑らかに変化するように設定 */
  transition: color 0.2s ease;
}

/* projectsのリンクをホバーした時のスタイル */
.projects-title-link:hover {
/* ホバー時の文字色を指定（例：青色） */
color: #0015ff;
}



/*---------------------------------------------*/

