
  body {
    font-family: "Montserrat", sans-serif;
  }


.whoami-title,.projects-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.project-box {
  /* 枠線は下線のみにする */
  border: none; /* まず全ての線をリセット */
  border-bottom: 1px solid #ccc; /* 下線だけを引く（色は薄いグレー） */

  /* 内側の余白を調整 */
  padding: 2px 2px;

  /* 横幅と中央揃えの設定を解除（画面いっぱいに広げる） */
  max-width: none; 

  /* ボックス間の余白をリセット */
  margin: 0;
}




