
  body {
    font-family: "Montserrat", sans-serif;
  }

 


  

.whoami-title,
.projects-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 600px) {
  .whoami-title,
  .projects-title {
    font-size: 1rem;
  }
}




.projects-title-link {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .projects-title-link {
    font-size: 0.5rem;
  }
}

.projects-title-link:hover {
  text-decoration: underline;
}






