body {
  font-family: "Montserrat", sans-serif;
}


.whoami-title,.projects-title {
font-size: 30px;
font-weight: bold;
color: #000000;
}





.project-box {
border: none;
border-bottom: 1px solid #ccc;
padding: 15px 2px; /* 上下の余白を15px、左右を2pxに設定 */
max-width: none; 
margin: 0;
}

/* Projectsにおける実績ごとの見出し */
.project-box p {
font-size: 10px;
  margin: 0;
}




