
  body {
    font-family: "Montserrat", sans-serif;
  }

 




.whoami-title,
.projects-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 600px) {
  .whoami-title,
  .projects-title {
    font-size: 60rem;
  }
}


.project-box {
  border: 1px solid #ccc; /* 枠線（1px・実線・薄い灰色） */
  padding: 20px;          /* ボックスの内側の余白 */
  margin-bottom: 25px;    /* 各ボックスの下側の間隔 */
  border-radius: 8px;     /* 角を少し丸くする */
}




.projects-title-link {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .projects-title-link {
    font-size: 30rem;
  }
}

.projects-title-link:hover {
  text-decoration: underline;
}






