
  body {
    font-family: "Montserrat", sans-serif;
  }

 
.whoami-title,
.projects-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 600px) {
  .whoami-title,
  .projects-title {
    font-size: 60rem;
  }
}



.project-box {
  border: 1px solid #000000;
  padding: 2px 2px; /* 内側の余白（上下20px, 左右25px） */
}



@media (max-width: 600px) {
  .whoami-title,
  .projects-title {
    font-size: 2.5rem; /* 60remから変更 */
  }
  .projects-title-link {
    font-size: 1.2rem; /* 30remから変更 */
  }
}






