
  body {
    font-family: "Montserrat", sans-serif;
  }

 
.whoami-title,
.projects-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 600px) {
  .whoami-title,
  .projects-title {
    font-size: 60rem;
  }
}





.project-box {
  /* 枠線は下線のみにする */
  border: none; /* まず全ての線をリセット */
  border-bottom: 1px solid #ccc; /* 下線だけを引く（色は薄いグレー） */

  /* 内側の余白を調整 */
  padding: 5px 5px;

  /* 横幅と中央揃えの設定を解除（画面いっぱいに広げる） */
  max-width: none; 

  /* ボックス間の余白をリセット */
  margin: 0;
}

/* 最後のボックスの下線は不要な場合（見た目が綺麗になります） */
.project-box:last-child {
  border-bottom: none;
}






@media (max-width: 600px) {
  .whoami-title,
  .projects-title {
    font-size: 2.5rem; /* 60remから変更 */
  }
  .projects-title-link {
    font-size: 1.2rem; /* 30remから変更 */
  }
}






